html,
body {
	width: 100vw;
	height: 100vh;
	color: white;
	--scanline-width: 1px;

	font-size: 1.5em;

	font-family: Consolas, 'Courier New', monospace;

	overflow: hidden;
}

@media only screen and (max-width: 700px) {
	#understars {
		display: none;
	}
}

* {
	padding: 0;
	margin: 0;
}

.background {
	background-color: #030207;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	text-shadow: 0 0 5px #fff, 0 0 10px #4608ff, 0 0 15px #4608ff, 0 0 30px #4608ff;
}

.scanlines {
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;

	background: -webkit-repeating-linear-gradient(top,
			transparent 0px,
			transparent 2px,
			rgba(0, 0, 0, 0.25) 2px,
			rgba(0, 0, 0, 0.25) 4px);
	-webkit-background-size: 100% 4px;
	background: -moz-repeating-linear-gradient(top,
			transparent 0px,
			transparent 2px,
			rgba(0, 0, 0, 0.25) 2px,
			rgba(0, 0, 0, 0.25) 4px);
	-moz-background-size: 100% 4px;

	animation: scanoffset 180s linear infinite alternate;
	user-select: none;
	pointer-events: none;
}

@keyframes scanoffset {
	0% {
		background-position-y: 0;
	}

	100% {
		background-position-y: 100vh;
	}
}

#name::after {
	content: "✰";
	position: relative;
	display: inline-block;
	top: -0.9rem;
	right: 0;
	transform: rotate(12deg);
}

#name::before {
	content: "";
	position: absolute;
	top: 0.2rem;
	right: 1.7rem;
	display: block;
	border-right: 10px solid white;
	border-top-right-radius: 100%;
	width: 35%;
	height: 20%;
}

#name {
	position: relative;
}

a,
a:visited {
	color: white;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#links {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
}